<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mr_motor_">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/splashScreenTheme">
        <activity android:name=".presentation.tasks.myQuizes.MyQuizesResultsPage"></activity>
        <activity android:name=".presentation.tasks.myQuizes.MyQuizesPage" />
        <activity android:name=".presentation.posts.FavouritePostsPage" />
        <activity
            android:name=".presentation.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".presentation.tasks.fullQuiz.QuizResultPage" />
        <activity android:name=".presentation.tasks.fullQuiz.QuizQPage" />
        <activity android:name=".presentation.tasks.fullQuiz.QuizDescriptionPage" />
        <activity android:name=".presentation.NoInternetPage" />
        <activity android:name=".presentation.ForgotPasswordPage" />
        <activity android:name=".presentation.SignUpPage" />
        <activity android:name=".presentation.AccountSettingsPage" />
        <activity android:name=".presentation.AccountPage" />
        <activity android:name=".presentation.LoginActivity" />
        <activity android:name=".presentation.posts.detailsPage.NewsDetailsPage" />
        <activity android:name=".presentation.MainActivity" />
    </application>

</manifest>